@import 'variables';

* {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  color: #776e65;
  background-color: rgb(250, 248, 239);
}

body {
  margin: 0px 30px 0px 30px;
}

p {
  font-size: 23px;
}

@mixin element-maker($size) {
  $sizeMap: map-get($map, $size);
  @media (min-device-width: map-get($sizeMap, min-width)) and (max-device-width: map-get($sizeMap, max-width)) {
    @if $size == 's' {
      p {
        margin: 0px 10px 15px 10px;
      }
    }
    @if $size == 'l' {
      margin: 0px 10px 0px 10px;
    }
  }
}

/* Create the actual grid */
@each $size, $value in $map {
  @include element-maker($size);
}
