.title {
  font-weight: bold;
}

.text-centered {
  text-align: center;
}

.font-console {
  font-family: VT323;
  color: #cdaf9a;
  font-size: 1.5em;
}

.align-self-centered {
  align-self: center;
}

.test-font {
  font-family: Pacifico;
}
